{% extends 'base.html' %}
{% load index %}
{% block content %}
<div class="container my-3">
					<form action="{% url 'SRTMacro:srtJoin' %}" method="GET">
						 <table class="table">
    						<thead>
							    </thead>
							 <tr class="thead-dark">
								 <th></th>
								 <th></th>
							 </tr>
    							<tbody>


							<div class="drop50p point">
								<tr><td>출발지선택</td>
								<td>
								<select name="dptRsStnCd" id="dptRsStnCd" >
									<option value="" selected="">출발역</option>

										<option value="0551">수서</option>

										<option value="0552">동탄</option>

										<option value="0553">평택지제</option>

										<option value="0502">천안아산</option>

										<option value="0297">오송</option>

										<option value="0010">대전</option>

										<option value="0507">김천(구미)</option>

										<option value="0506">서대구</option>

										<option value="0015">동대구</option>

										<option value="0508">신경주</option>

										<option value="0509">울산(통도사)</option>

										<option value="0020">부산</option>

										<option value="0514">공주</option>

										<option value="0030">익산</option>

										<option value="0033">정읍</option>

										<option value="0036">광주송정</option>

										<option value="0037">나주</option>

										<option value="0041">목포</option>

								</select>
									</td>
								</tr><tr><td>도착지선택</td><td>
								<select name="arvRsStnCd" id="arvRsStnCd" >
									<option value="" selected="">도착역</option>

										<option value="0551">수서</option>

										<option value="0552">동탄</option>

										<option value="0553">평택지제</option>

										<option value="0502">천안아산</option>

										<option value="0297">오송</option>

										<option value="0010">대전</option>

										<option value="0507">김천(구미)</option>

										<option value="0506">서대구</option>

										<option value="0015">동대구</option>

										<option value="0508">신경주</option>

										<option value="0509">울산(통도사)</option>

										<option value="0020">부산</option>

										<option value="0514">공주</option>

										<option value="0030">익산</option>

										<option value="0033">정읍</option>

										<option value="0036">광주송정</option>

										<option value="0037">나주</option>

										<option value="0041">목포</option>

								</select>
									</td>
							</tr><tr><td>출발일자</td>
								<td><input type="text" name="datePicker" id="datePicker" title="출발일자 입력" style="width:113px;height:23px;" readonly>
									</td></tr>
								<tr><td>출발시각</td>
								<td>
								<select name="dptTm" id="dptTm" class="dropDownNoJqueryUi" title="출발시각 선택" style="width:113px;height:23px;">

										<option value="000000" selected="selected">00시 이후</option>



										<option value="020000">02시 이후</option>



										<option value="040000">04시 이후</option>



										<option value="060000">06시 이후</option>



										<option value="080000">08시 이후</option>



										<option value="100000">10시 이후</option>



										<option value="120000">12시 이후</option>



										<option value="140000">14시 이후</option>



										<option value="160000">16시 이후</option>



										<option value="180000">18시 이후</option>
										<option value="200000">20시 이후</option>
										<option value="220000">22시 이후</option>
								</select>
								</td>
							</tr>

							</div>

							  </tbody>
  						</table>
						<button class="btn btn-lg btn-primary btn-block"  style="float:right;" type="submit">조회하기</button>
						<br>
					</form>

				</div>
<div class="container my-3">
  <h1 class="border-bottom py-2">SRT 열차 조회 </h1>
	{% if searchDate %}
	<h2>{{searchDate}}</h2>
	{% endif %}
  <table class="table">
    <thead>
      <tr class="thead-dark">
		  <th>열차</th>
        <th>출발역</th>
        <th>도착역</th>
        <th>일반실</th>
		  <th>매크로</th>
      </tr>
    </thead>
    <tbody>
      {% if srtTrains %}
      {% for srtTrain in srtTrains %}
      <tr>
		   <td>
          {{ srtTrain.train_name }}<br>
        <td>
          {{ srtTrain.dep_station_name }}<br>
			{{srtTrain.dep_hour}}:{{srtTrain.dep_min}}
        </td><td>{{ srtTrain.arr_station_name }}<br>
			{{srtTrain.arr_hour}}:{{srtTrain.arr_min}}</td>
		  <td>{{ srtTrain.general_seat_state }}<br><span id="span_{{forloop.counter0}}"></span></td>
		  <td><button onclick="srt_macro_on('{{srtTrains|index:forloop.counter0|get_arr_time}}','{{srtTrains|index:forloop.counter0|get_dep_time}}','{{srtTrains|index:forloop.counter0|get_arr_station_name}}','{{srtTrains|index:forloop.counter0|get_dep_station_name}}','{{srtTrains|index:forloop.counter0|get_arr_date}}','span_{{forloop.counter0}}')" class="btn btn-lg btn-primary btn-block" type="button">매크로</button></td>

      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="5">열차가 없습니다.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.kr.min.js"></script>

<script>
var today = new Date();

var year = today.getFullYear();
var month = ('0' + (today.getMonth() + 1)).slice(-2);
var day = ('0' + today.getDate()).slice(-2);

var dateString = year +  month  + day;
selectedControl('dptRsStnCd',"{{dep}}")
selectedControl('arvRsStnCd',"{{arr}}")
selectedControl('dptTm',"{{dptTm}}")
function selectedControl(arr_dep,arr_dep_val){
  const el = document.getElementById(arr_dep);  //select box
  const len = el.options.length; //select box의 option 갯수
  const str = arr_dep_val;
  for (let i=0; i<len; i++){
    if(el.options[i].value == str){
    	el.options[i].selected = true;
    }
  }
}

$("#datePicker").val(dateString);
$("#datePicker").datepicker({format:"yyyymmdd",language:"kr"});
function sleep(ms) {
  const wakeUpTime = Date.now() + ms;
  while (Date.now() < wakeUpTime) {}
}
var count=0;
function srt_macro_on(arr_time,dep_time,arr,dep,date,span){


	$.ajax({
        url: '/srtMc/',
        type: 'GET',
        data: {
            'arr_time':arr_time,
            'dep_time':dep_time,
            'arr':arr,
            'dep':dep,
            'date':date,
        },
        datatype: 'json', // 서버에서 반환되는 데이터 json 형식
        success: function(data){ // AJAX 통신이 성공하면 해당 과일의 영어 단어가 출려되도록
            if(data['msg']=="false"){
            count=count+1
            $("#"+span).text("매크로 "+count+"번째 시도중")
            srt_macro_on(arr_time,dep_time,arr,dep,date,span)
        }
        else{count=0;$("#"+span).text("");alert(data['msg'])}}
    });
}
</script>
{% endblock %}